@font-face {
  font-family: 'Roobert';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://cdn.glitch.com/ead942eb-5f14-487b-a118-4759cfc04f43%2FRoobert-Medium.woff2?v=1570659234070')
    format('woff2');
}

@font-face {
  font-family: 'Roobert';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://cdn.glitch.com/ead942eb-5f14-487b-a118-4759cfc04f43%2FRoobert-Bold.woff2?v=1570659237353')
    format('woff2');
}

@font-face {
  font-family: 'iA Quattro';
  src: url('https://2019.hackpenn.com/quattro/iAWriterQuattroS-Regular.woff2')
      format('woff2'),
    url('https://2019.hackpenn.com/quattro/iAWriterQuattroS-Regular.woff')
      format('woff'),
    url('https://2019.hackpenn.com/quattro/iAWriterQuattroS-Regular.eot')
      format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'iA Quattro';
  src: url('https://2019.hackpenn.com/quattro/iAWriterQuattroS-Bold.woff2')
      format('woff2'),
    url('https://2019.hackpenn.com/quattro/iAWriterQuattroS-Bold.woff')
      format('woff'),
    url('https://2019.hackpenn.com/quattro/iAWriterQuattroS-Bold.eot')
      format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
